/* contents START */

#contents {
    top: 10%;
    left: 0%;
    z-index: 1;
    max-width: 100% auto;
    height: 100%;
    /* line-height: 5vw; */
    border-radius: 0;
    box-sizing: border-box;
    border: 10px royalblue;
    text-align: center;
    background-color: antiquewhite;
}
  
  /* #contents {
    margin: 10%;
    width: 100px;
    height: 100px;
    background-color: aqua;
  } */