#contents {
    /* padding-left: 11em; */
    /* width: calc(90% - 300px); */
    /* height: 100%; */
    height:100%;
}

.header {
    height: 10vw;
}
.detail{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    gap: 70px;
}
.title{
    color: #57DD79;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    /* margin:1.5rem; */
    padding-top: 1rem;
    text-align: left;
}

.menu_1{
    font-weight: 700;
    margin:1.5rem;
    text-align: left;
}


.question{
    /* height: 19vw;
    margin-top: 2em;
    padding-left: 3vw;
    padding-right: 3vw; */
}

.q_title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 2em;
    font-weight: 2rem;
    /* line-height: 45px; */
    /* padding-bottom: 25px; */
    text-align:left;
    }
.writer{
    font-weight: 2rem;
    font-size: 15px;
}
.time{
    font-size: 15px;
}

.q_content {
    height: 100%;
    box-sizing: border-box;
    min-height:12rem;
    /* line-height: 2rem; */
    /* margin-top: 50px; */
    /* padding:1.5rem; */
    background-color: #FFFFFF;
    border: 3px solid #D9D9D9;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    text-align:left;
    display: flex;
    flex-direction: column;
    padding:20px 30px;
    justify-content: space-between;
}

.q_picture{
    /* padding-top: 15px;
    padding-bottom: 15px; */
}

.answer{
    /* padding-top: 50px; */
    /* padding-left: 100px;
    padding-right: 100px; */
    display:flex;
    flex-direction: column;
}

.a_title{
    /* padding-top: 25px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align:left;
}
.registration_container {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin:30px;
}

.a_content{
    box-sizing: border-box;
    min-height:12rem;
    /* line-height: 2rem;
    margin-top: 50px; */
    padding:1.5rem;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    text-align:left;
    display: flex;
    flex-direction: column;
    margin-bottom:50px; 
}

.buttons{
    background: #FFFFFF;
}
.bottom {
    
    display: flex;
    flex-direction: column;
    /* align-content: end; */
    gap: 10px;
    text-align: right;
}


.edit-button{
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    /* padding-top:6px;
    padding-bottom:6px; */
    padding-left:10px;
    padding-right:10px;
}

.edit-button:hover {
    color: white;
    background: #14792E;
    border:#14792E;
  }

.delete-button{
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;

    border: 1px solid #000000;
    border-radius: 5px;

    /* padding-top:6px;
    padding-bottom:6px; */
    padding-left:10px;
    padding-right:10px;

}

.delete-button:hover {
    color: white;
    background: rgb(70, 70, 70);
    border:rgb(70, 70, 70);
  }

.new_content{
    box-sizing: border-box;
    /* top: 200px; */
    width: 100%;
    height: 200px;

    margin-top:50px;

    /* padding-top: 15px; */
    padding-right: 20px;
    /* padding-bottom: 15px; */
    padding-left: 30px;

    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
}

.registration{
    background-color: #56C171;
    border: 1px solid #14792E;
    border-radius: 10px;
    color: #FFFFFF;

    margin-left: 100px;
    /* margin-top:50px;
    margin-bottom:50px; */
    width: 112px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

}