
.grade_title {
    padding-left: 20px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #57dd79;
}
.grade_line {
    color: #d9d9d9;
    width: vw;
    margin: 0;
}
.grade_content {
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    list-style: inside;
}
.grade_sub {
    padding-left: 40px;
    font-size: 15px;
    line-height: 35px;
    font-weight: 500;
    list-style: inside;
}
.grade_img {
    display: flex;
    align-items: center;
    justify-content: center;
}