/* board css */
body {
  font-family: Nanum Gothic;
  height: 180%;
}

a {
  text-decoration: none;
}

#contents {
  height: 100%;
  margin-top: 2vw;
  padding-left: 13em;
  width: calc(90% - 200px);
  margin-bottom: 100px;
}

#header_top {
  display: flex;
  width: 100%;
  height: 4em;
  z-index: 1;
  align-items: center;
}

.container-fluid {
  display: flex;
  margin: 0%;
  width: 100%;
  height: 4em;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  align-items: center;
  border: 1px solid rgb(149, 149, 149);
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  background-color: white;
}
.container-fluid form {
  width: 100%;
  display:flex;
  justify-content: space-between;
}
/* .header_nav_container {
  position: fixed;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 4em;
  z-index: 1;
  align-items: center;
} */

/* START board_main_img */
.img_container {
  width: 10em;
  height: 100%;
  max-width: 300px;
  min-width: 200px;
}

.img_container a {
  width: 100%;
  height: 100%;
}

#logo {
  width: 100%;
  height: 100%;
}

/* END board_main_img */

/* START Search Bar */
#search_bar_container {
  margin: 0;
  padding: 0;
  width: 37vw;
  height: 100%;
  display: flex;
  max-width: 600px;
  margin-left: 1vw;
}

.search-box {
  display: flex;
  margin-top: 0.5em;
  padding: 0;
  height: 3em;
  width: 100%;
  float: left;
  text-align: center;
  overflow: hidden;
  border-radius: 1em;
  background-color: #57DD79;
}

.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  margin: 0.1vw;
  margin-top: 0.2vw;
  margin-right: 0.15vw;
  background-color: #ffffff;
  color: #6c6c6c;
  border-radius: 1rem;
  border: 2px solid #1ee31e;
  transition: all .4s;
  align-items: center;
  justify-content: flex-start;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 1px 12px #032603;
  -moz-box-shadow: 0 1px 12px #032603;
  -webkit-box-shadow: 0 1px 12px #032603;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -36px;
  border: none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline: none;
  color: black;
}

/* END Search Bar */

/* START nav toggle button */
.navbar-toggle:active {
  top: 1px;
  border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
}

.navbar-toggle {
  display: none;
  right: 1em;
  margin-left: 1em;
  color: white;
  padding: 1em 1.5em;
  border-radius: 10px;
  background: #56c171;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom-color: rgba(0, 0, 0, 0.34);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13),
    0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

/* END nav toggle button */

/* START header_nav_container(Login,Join box) */
#header_nav_container {
  margin: auto;
  height: 100%;
  float: right;
  margin-right: 1em;
  font-size: 1em bold;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  z-index: 1;
}

.header_nav_box {
  width: 100%;
  height: 100%;
  border-spacing: 1em;
}
.header_nav_box a {
  color: black;
}

.header_nav_login {
  width: 30px;
  height: auto;
  font-weight: bold;
  padding-top: 0.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #ffffff;
}

.header_nav_join {
  width: 30px;
  height: auto;
  font-weight: bold;
  padding-top: 0.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

/* END header_nav_container */

.accordion {
  position: fixed;
  width: 11em;
  z-index: 1;
  font-weight: bolder;
  border: 1px solid #999999;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 1px;
}

.cate {
  width: 100%;
  position: relative;


  background-color: white;
}

.cate_aubopen_line {
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-top-color: #999999;
}

#cate_last_ch {
  padding-bottom: 1pxs;
}

#cate_last_ch:last-child {
  border-bottom: 1px solid #99999992;
  border-left-color: #99999992;
}

.cate .menu {
  display: block;
  position: relative;
  width: 100%;
  background: gray;
  height: 80px;
  background: #5cb372;
}

.cate .menu .menulink {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 70%;
  padding-left: 15px;
  line-height: 80px;
}

.cate .menu .subopen {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 15px;
  padding: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
}

.cate ul {
  display: flex;
  flex-direction: column;
}

.cate ul li {
  padding: 5px 10px;
}

.cate ul li:first-child {
  padding-top: 20px;
}

.cate ul li:last-child {
  padding-bottom: 20px;
}

.cate ul a {
  display: flex;
  gap: 10px;
  padding: 15px 30px;
  color: #000;
  align-items: center;
}

.registration_container {
  
}






/*------------------------------------------------*/

/* START sidebar */
/* 
#sidebar_fluid {
  display: flex;
}

#sidebar_container {
  top: 4.08em;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 20vw;
  max-width: 200px;
  position: fixed;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: all 0.5s ease;
  text-align: center;
  border: 1px solid rgb(153, 153, 153);
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 1px;
}

#sidebar_menu_box {
  height: 4vh;
  width: 100%;
  text-align: center;

}

#sidebar_menu_box a {
  width: 100%;
  height: 100%;
}

.sub_sidebar_menu_box {
  display: flex;
  padding: 1em;
  text-align: center;

}

.sub_sidebar_menu_box a {
  width: 100%;
  height: 100%;
  display: flex;
}


#sidebar_txt {
  margin-left: 10%;
  padding-bottom: 20px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

#sidebar_menu_box a>div.side_menu_txt:hover {
  background-color: #34914b9d;
  color: rgb(255, 255, 255);
}

#sidebar_txt a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.top_menu {
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 4vh;
  border-bottom: 1px solid #dddddd;
}

.top_menu::before {
  display: inline-block;
  font-size: 4vh;
  margin: 0 5px;
}

.top_menu.on>a {
  font-weight: bold;
  color: #006633;
}

.bottom_menu {
  font-size: 4vh;
  background-color: #f4f4f2;
  padding: 10px 0;
}

.bottom_menu a {
  width: 100%;
  height: 4vh;
  display: flex;
  padding: 0.2em;
  padding-left: 3vw;
}

.bottom_menu::before {
  display: inline-block;
  font-size: 4vh;
  font-weight: bold;
  margin: 0 5px;
}

.bottom_menu a::before {
  width: 100%;
  height: 100%;
} */


/*------------------------------------------------*/

/* SIDE BAR 2*/

/* .menulink {
  display: flex;
}

#contents.questions_list {
  padding: 0;
} */

/*------------------------------------------------*/
/* .cate{ 
    width:100%;
    position:relative;
    border-style:solid;
    border-width:1px 1px 0 1px;
    border-color:#155625a5;
  }
  .cate:last-child{
    border-bottom:1px solid #34914b9d;
  }
  .cate .menu{
    display:block;
    position:relative;
    width:100%;
    background: #34914bb1;
    height: 8vh;
    min-height: 4vh;
    padding-top: 4vh;
    font-size: Cvh;
  }
  .cate .menu .menulink{
    display:block;
    color:#fff;
    text-decoration:none;
    width:70%;
  }
  .cate .menu .subopen{
    display: none;
    position:absolute;
    width: 2vw;
    height: 2vw;
    right: 2vw;
    padding:0;
    top:0;
    bottom:0;
    margin:auto;
    border-right:3px solid #fff;
    border-bottom:3px solid #34914b9d;
    transform:rotate(45deg);
  }

  .sub_menu_box{
    padding-inline-start: 6vh;
    font-size: 2.5vh;
  }
  .cate ul li{
    padding: 1vh 2vh
  }
  .cate ul li:first-child{
    padding-top: 2vh;
  }
  .cate ul li:last-child{
    padding-bottom: 2vh;
  } */


/* END sidebar */
