.title{
    color: #57DD79;
    left: 50px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    padding-top: 50px;
    padding-left: 50px;
}

.user {

    color: #000000;
    left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.user-list{
    padding-top: 50px;
    padding-left: 50px;
}

.user-box{
    float: left; 
    width: 25%;
    height: 200px;

    min-width : 400px;

    background-color: #EEFEF0;
    border: 1px solid #D9D9D9;
    border-radius: 10px;

    margin:30px;

}

.picture{

    border: 1px solid #000000;
    border-radius: 20px;

    margin:20px;
    float: left; 
    
    width: 150px;
    height: 150px;
}

.text{
    float: left;
}

.name{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;

    text-align: center;
    padding:30px;
}

.ranking{
    font-family: 'Roboto';
    font-style: border;
    font-size: 20px;
    
    margin:10px;
}

.answer-count{
    float: left; 
    width: 50px;
    font-size: 20px;
}

.answer-rate{
    float: left; 
    width: 50px;
    font-size: 20px;
}

.vote{
    float: left; 
    width: 50px;
    font-size: 20px;
}