/* mainboard_contents START */

#contents {
    top: 300px;
    left: 0%;
    z-index: 4;
    max-width: 100% auto;
    height: 1000px;
    margin-top: 200px;
    margin-left: 100px;
    /* line-height: 5vw; */
    border-radius: 0;
    box-sizing: border-box;
    border: 10px royalblue;
    text-align: center;
    background-color: antiquewhite;
  }
  
  /* #contents {
    margin: 10%;
    width: 100px;
    height: 100px;
    background-color: aqua;
  } */
  

  /* mainboard_contents END */