body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  align-content: flex-start;
}

body > p {
  position: relative;
  width: 11rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #57dd79;
}

header {
  width: 100rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.twin_status {
  display: flex;
  align-content: space-between;
}

.questionStatus {
  width: 45rem;
  height: 15rem;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5rem;
}

.questionStatus > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  color: #14792e;
}

.questionStatus > nav > ul {
  display: flex;
}

.questionStatus > nav > ul > li {
  width: 7rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  position: relative;
  background: #ddffe6;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0 0 0 / 0.35);
  border-radius: 1rem;
  flex-basis: 25%;
}

.answerStatus {
  width: 45rem;
  height: 15rem;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.answerStatus > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  color: #14792e;
}

.answerStatus > nav > ul {
  display: flex;
}

.answerStatus > nav > ul > li {
  width: 7rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  position: relative;
  background: #ddffe6;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0 0 0 / 0.35);
  border-radius: 1rem;
  flex-basis: 25%;
}

.self_status {
  margin: 4rem;
  box-sizing: border-box;
  position: relative;
  border: 0.2rem solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.self_status > header {
  width: 20rem;
  height: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-right: 0.1rem solid #d9d9d9;
}

#sinceFrom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #000000;
}

.self_introduce {
  width: 40rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  border-right: 0.1rem solid #d9d9d9;
}

#inputProfile > p {
  position: relative;
  width: 27rem;
  height: 13rem;
  border: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  /* line-height: 23px; */
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid #d9d9d9;
}

#inputProfile > p > input {
  width: 4rem;
  height: 2rem;
  position: relative;
  top: 3rem;
  left: 10rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0 0 0 / 0.35);
}

.grade_rank {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.self_rank {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.self_rank p {
  position: relative;
  right: 13rem;
  top: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  color: #14792e;
}

.self_rank > ul {
  display: flex;
  padding: 0;
}

.self_rank > ul > li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: 0.2rem solid black;
  text-align: center;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  flex-basis: 25%;
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  color: #202020;
}

.self_rank_text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #808080;
}

.self_rank_text2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  color: #202020;
}

.self_grade {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.self_grade p {
  position: relative;
  right: 11.4rem;
  top: -5rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  color: #14792e;
}

.day_week_karma {
  position: relative;
  margin: 5rem;
  background: #57dd79;
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day_week_karma > ul {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

.day_week_karma > ul > li {
  width: 15rem;
  height: 5rem;
  margin-top: 1re;
  display: flex;
  flex-direction: column;
}

.karma1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.karma2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  color: #ffffff;
}

.karma3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
}
