<!-- header START -->
<header id="header_top" class="header_top_board">
    <div class="img_container">
        <a href="#">
            <img id="logo" src="../static/image/logo.png" url="#" alt="이미지">
        </a>
    </div>
    <div id="search_bar">
        <div class="topnav">
            <a class="active" href="#home">login</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <input type="text" placeholder="Search..">
        </div>
    </div>
    <div class="header_burger">
    </div>
</header>
<!-- header END -->

<!-- sidebar START-->
<div id="sidebar"> 
    <div id="sidebar_container">
        <div id="sidebar_menu_container"> 
            <a id="sidebar_menu_box" class="active" href="#home">
                <img id="sidebar_icon" src="../static/image/sidebar_img/home.png" class="home_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Home</div>
            </a>
        </div>

        <div id="sidebar_menu_container">
            <a id="sidebar_menu_box"class="active" href="#questions">
                <img id="sidebar_icon" src="../static/image/sidebar_img/questions.png" class="questions_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Questions</div>
            </a>
        </div>

        <div id="sidebar_menu_container">
            <a id="sidebar_menu_box" class="active" href="#Tags">
                <img id="sidebar_icon" src="../static/image/sidebar_img/tags.png" class="tags_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Tags</div>
            </a>
        </div>

        <div id="sidebar_menu_container">
            <a id="sidebar_menu_box" class="active" href="#users">
                <img id="sidebar_icon" src="../static/image/sidebar_img/users.png" class="users_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Users</div>
            </a>
        </div>

        <div id="sidebar_menu_container">
            <a id="sidebar_menu_box" class="active" href="#companies">
                <img id="sidebar_icon" src="../static/image/sidebar_img/companies.png" class="companies_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Companies</div>
            </a>
        </div>
    </div> 
</div>

<!-- Sidebar END-->



