<!-- 헤더 -->
<header id="header_top" class="header_top_board">
    <div class="img_container">
        <a href="#">
            <img id="logo" src="../static/image/logo.png" url="#" alt="이미지">
        </a>
    </div>
    <div id="search_bar">


    </div>
    This is the 'header'
    <div class="header_burger">
    </div>
</header>
    
<div id="sidebar"> 
    <div id="sidebar_container">
        <div id="side_menu_container" class="home_container"> 
            <div id="sidebar_icon" class="home_icon">
                <p>icon</p>
            </div>
            <div id="sidebar_txt" class="home_txt">
                <h3>Home</h3>
            </div>
            <div id="sidebar_icon" class="home_icon">
                <p>icon</p>
            </div>
            <div id="sidebar_txt" class="home_txt">
                <h3>Questions</h3>
            </div>
            <div id="sidebar_icon" class="home_icon">
                <p>icon</p>
            </div>
            <div id="sidebar_txt" class="home_txt">
                <h3>Tips</h3>
            </div>
            <div id="sidebar_icon" class="home_icon">
                <p>icon</p>
            </div>
            <div id="sidebar_txt" class="home_txt">
                <h3>Users</h3>
            </div>
            <div id="sidebar_icon" class="home_icon">
                <p>icon</p>
            </div>
            <div id="sidebar_txt" class="home_txt">
                <h3>Companys</h3>
            </div>
        </div> 
    </div>
</div>


<div id=contents> 
    <div id=contents class="questions_list">
        <div class="questions_stats">aaaaaaaaaaaaaa1</div>
        <div class="questions_title">2</div>
        <div class="questions_comment">3</div>
        <div class="questions_profile">4</div>
    </div>
    <div id = contents class="questions_list">
        <div class="questions_stats">bbbbbbbbbbbbbb1</div>
        <div class="questions_title">2</div>
        <div class="questions_comment">3</div>
        <div class="questions_profile">4</div>
    </div>
    <div id=contents class="questions_list">
        <div class="questions_stats">cccccccccccccc1</div>
        <div class="questions_title">2</div>
        <div class="questions_comment">3</div>
        <div class="questions_profile">4</div>
    </div>
</div>


