{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}" />
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage_mb.css') }}" /> -->

<div id="contents">
  <div id="myPage">My Page</div>
  <div style="height: auto; width: 100%; border-bottom: 0.1rem solid #d9d9d9"></div>

  <header>
    <div class="twin_status">
      <div class="questionStatus">
        <div>질문<span style="color: black"> 현황</span></div>
        <nav>
          <ul>
            <li>
              <a href="#"> 총 질문수 </a>
            </li>
            <li>
              <a href="#"> 답변대기중 </a>
            </li>
            <li>
              <a href="#"> 답변완료 </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="answerStatus">
        <div>답변<span style="color: black"> 현황</span></div>
        <nav>
          <ul>
            <li>
              <a href="#"> 총 답변수 </a>
            </li>
            <li>
              <a href="#"> 채택대기중 </a>
            </li>
            <li>
              <a href="#"> 채택완료 </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div></div>
  </header>
  <div style="height: auto; width: 100%; border-bottom: 0.1rem solid #d9d9d9"></div>

  <section class="self_status">
    <div id="proFile">
      <div>
        <img src="http://image.yes24.com/images/00_event/2020/0625Developer/authImg.jpg" />
      </div>
      <h2>sesac 2022</h2>
      <div id="sinceFrom">가입일<br />2022.12.10</div>
    </div>

    <div class="self_introduce">
      <div id="inputProfile">
        <div>
          Sesac 금천 2기 수료생입니다
          <input type="button" value="수정" />
        </div>
      </div>
    </div>
    <div class="grade_rank">
      <div class="self_rank">
        <div id="self_rank_text">
          <img src="{{url_for('static',filename='image/Crown.png')}}" />랭킹
        </div>
        <ul>
          <li>
            <img src="{{url_for('static',filename='image/Glyph.png')}}" />
            <div class="rank_text1"> 채택답변수 </div>
            <div class="rank_text2"> 7/11</div>

          </li>
          <li>
            <img src="{{url_for('static',filename='image/Vector.png')}}" />
            <div class="rank_text1"> 답변채택률 </div>
            <div class="rank_text2"> 63%</div>

          </li>
          <li>
            <img src="{{url_for('static',filename='image/thumbs.png')}}" />
            <div class="rank_text1"> 추천수 </div>
            <div class="rank_text2"> 2</div>
          </li>
        </ul>
        </nav>
      </div>
    </div>
    <div></div>
    </header>
  </section>
  <section class="bottomClass">
    <div class="day_week_karma">
      <ul>
        <li>
          <div class="karma1">
            Weekly
          </div>
          <div class="karma2">
            <div>
              3/7
            </div>
            <img src="{{url_for('static',filename='image/Glyph0.png')}}" style="margin-left: 1.4rem;" />
          </div>
          <div class="karma3">Daily streak: 144days</div>

        </li>
        <li>
          <div class="karma1">
            Monthly
          </div>
          <div class="karma2">
            <div>
              13/31
            </div>
            <img src="{{url_for('static',filename='image/CombinedShape.png')}}" />
          </div>

          <div class="karma3">
            Weekly streak: 20 weeks
          </div>


        </li>
        <li>
          <div class="karma1">
            Grade
          </div>
          <div class="karma2">
            <div>새싹2</div>
            <img src="{{url_for('static',filename='image/Mask.png')}}" />
          </div>
          <div class="karma3">
            Current score : 15000
          </div>



        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}