<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/jiye2.css')}}"/>
    <title>Document</title>
</head>
<body>
    <div>
        <div class = "header">
            <div class="title">
                Questions
            </div>
            <div class="user">
                User
            </div>
            <hr class="line1">
        </div>

        <div class = "user-list">
            <div class="user-box">
                <img class="picture" src="https://i.stack.imgur.com/fEm51.png?s=256&g=1">
                <div class="text">
                    <div class ="name">
                        새싹비빔밥
                    </div>
                    <div class="info">
                        <div class="ranking">나무2</div>
                        <div class="score">
                            <div class="answer-count">7</div>
                            <div class="answer-rate">80%</div>
                            <div class="vote">100</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-box">
                <img class="picture" src="https://i.stack.imgur.com/F0dgh.png?s=256&g=1">
                <div class="text">
                    <div class ="name">
                        붉은돼지
                    </div>
                    <div class="info">
                        <div class="ranking">나무2</div>
                        <div class="score">
                            <div class="answer-count">7</div>
                            <div class="answer-rate">80%</div>
                            <div class="vote">100</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-box">
                <img class="picture" src="https://www.gravatar.com/avatar/24780fb6df85a943c7aea0402c843737?s=192&d=identicon&r=PG">
                <div class="text">
                    <div class ="name">블랙맨</div>
                    <div class="info">
                        <div class="ranking">나무2</div>
                        <div class="score">
                            <div class="answer-count">7</div>
                            <div class="answer-rate">80%</div>
                            <div class="vote">100</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
</html>