<!-- 헤더 -->

<header id="header_top" class="header_top_board">
    <div class="img_container">
        <a href="#">
            <img id="logo" src="../static/image/logo.png" url="#" alt="이미지">
        </a>
    </div>
    <div id="header_nav_container">
        <div class="header_nav_box">
            <div class="header_nav_login" href="#login">LOGIN</div>
            <dic class="emty"></dic>
            <div class="header_nav_join" href="#join">JOIN</div>
        </div>
    </div>
        <div id="search_bar_container">
            <div class="search_nav">
                <input type="text" placeholder="Search..">
            </div>
            <div class="search_nave_icon">
                <a href="#">
                    <img id="search_icon" src="../static/image/sidebar_img/search.png" url="#" alt="이미지">
                </a>
            </div>
        </div>


</header>
    
<div id="sidebar"> 
    <div id="sidebar_container">
        <div id="sidebar_menu_container"> 
            <a id="sidebar_menu_box" class="active" href="#home">
                <img id="sidebar_icon" src="../static/image/sidebar_img/home.png" class="home_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Home</div>
            </a>
        </div>

        <div id="sidebar_menu_container">
            <a id="sidebar_menu_box"class="active" href="#questions">
                <img id="sidebar_icon" src="../static/image/sidebar_img/questions.png" class="questions_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Questions</div>
            </a>
        </div>

        <div id="sidebar_menu_container">
            <a id="sidebar_menu_box" class="active" href="#Tags">
                <img id="sidebar_icon" src="../static/image/sidebar_img/tags.png" class="tags_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Tags</div>
            </a>
        </div>

        <div id="sidebar_menu_container">
            <a id="sidebar_menu_box" class="active" href="#users">
                <img id="sidebar_icon" src="../static/image/sidebar_img/users.png" class="users_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Users</div>
            </a>
        </div>

        <div id="sidebar_menu_container">
            <a id="sidebar_menu_box" class="active" href="#companies">
                <img id="sidebar_icon" src="../static/image/sidebar_img/companies.png" class="companies_icon"></img>
                <div id="sidebar_txt" class="side_menu_txt">Companies</div>
            </a>
        </div>
    </div> 
</div>





